@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

body {
    /* font-family: "Raleway", sans-serif; */
    /* font-family: "Overpass", sans-serif; */
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Lato", sans-serif; */
    /* font-family: "Alice", sans-serif; */
    font-family: "Cantarell", sans-serif;
    /* font-family: "Karla", sans-serif; */
}

p {
    line-height: 165%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Sacramento", sans-serif; */
    /* font-family: "MuseoModerno", sans-serif; */
    /* font-family: "Libre Baskerville", sans-serif; */
    /* font-family: "Arvo", sans-serif; */
    /* font-family: "Playfair Display", sans-serif; */
    /* font-family: "Spectral", sans-serif; */
    font-family: "Fjalla One", sans-serif;
    /* font-family: "Oswald", sans-serif; */
}

.boxed {
    @apply w-full max-w-screen-lg mx-auto;
}

.large-container {
    max-width: 2100px;
}

@screen lg {
    .boxed {
        @apply max-w-screen-md;
    }
}

@screen xl {
    .boxed {
        @apply max-w-screen-lg;
    }
}

.nav .nav-links li {
    @apply relative inline-block mx-2;
}

.nav .nav-links li a {
    @apply relative z-10 inline-block p-1;
}

.nav .nav-links li:before {
    content: "";
    @apply absolute top-0 bottom-0 left-0 right-0 w-0 h-0 m-auto rounded-full opacity-25 bg-primary;
    transition: width 0.25s, height 0.25s;
}

.nav .nav-links li.active:before,
.nav .nav-links li:hover:before {
    @apply w-8 h-8;
}

.nav .nav-links .theme-switcher:before {
    display: none;
}

.nav .line {
    width: 0;
    transition: width 0.5s;
}

.nav.scrolled .line {
    @apply w-full;
}

.title h1 {
    @apply font-black text-color-1;
}

.supports-blend .title h1 {
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
}

.supports-blend .title h1 span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @apply bg-gradient-primary;
    mix-blend-mode: screen;
}

.theme-dark .supports-blend .title h1 {
    color: #fff;
    background: #000;
    mix-blend-mode: lighten;
}

.theme-dark .supports-blend .title h1 span {
    mix-blend-mode: multiply;
}

.btn {
    @apply relative inline-flex items-center h-12 px-6 overflow-hidden outline-none;
}

.btn.disabled {
    @apply opacity-50;
}

.btn span {
    @apply relative z-10;
}

.btn:before {
    content: "";
    @apply absolute top-0 w-full h-full;
    left: 100%;
    transition: left 0.25s;
    transition-timing-function: cubic-bezier(1, 2.13, 1, -0.1);
    z-index: 1;
}

.btn .icon-right {
    @apply ml-3;
}

.btn .icon-left {
    @apply mr-3;
}

.btn:focus {
    @apply outline-none;
}

.btn-primary {
    @apply my-4 bg-primary;
    color: #fff;
}

.btn-primary:before {
    @apply bg-secondary;
}

.btn-primary:hover:before,
.btn-primary:focus:before {
    left: 0;
}

.portfolio-item .image {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
    transition: clip-path 0.5s;
    transition-timing-function: ease-in-out;
    z-index: 3;
    transform: translateY(0);
}

.portfolio-item.even .image {
    clip-path: polygon(100% 0, 100% 0, 100% 99%, 100% 100%);
}

.portfolio-item.begin-animation .image {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.portfolio-item .to-up {
    transform: translate(0, 50px);
    transition: transform 0.25s;
}

.portfolio-item .to-up:nth-child(2) {
    transition-delay: 0.2s;
}

.portfolio-item.begin-animation .to-up {
    transform: translate(0, 0px);
}

.footer-links li {
    @apply mx-3;
}

.animated-link-parent a {
    @apply relative inline-block;
}

.animated-link-parent a:after {
    content: "";
    transition-property: width;
    @apply absolute bottom-0 left-0 w-0 duration-300 bg-gradient-primary;
    height: 2px;
}

.animated-link-parent a:hover:after,
.animated-link-parent a:focus:after,
.animated-link-parent a:active:after {
    @apply w-full;
}

.post-content p {
    @apply my-3;
    font-size: 1.25rem;
    line-height: 1.75;
}

.post-content h1,
h2,
h3,
h4,
h5,
h6 {
    @apply my-4 font-black text-color-2;
}

.post-content h1 {
    @apply text-5xl;
}

.post-content h2 {
    @apply text-4xl;
}

.post-content h3 {
    @apply text-3xl;
}

.post-content h4 {
    @apply text-2xl;
}

.post-content h5 {
    @apply text-xl;
}

.post-content h5 {
    @apply text-lg;
}

.post-content hr {
    @apply my-4 border-medium;
}

.post-content ul {
    list-style: disc;
}

.post-content ol {
    list-style: decimal;
}

.post-content ul,
.post-content ol {
    @apply ml-4;
}

.post-content ul ul,
.post-content ol ol {
    @apply ml-3;
}

.post-content li {
    @apply my-2;
}

.post-content table {
    @apply w-full my-6;
}

.post-content table tr {
    border-bottom: 2px solid #eee;
    @apply border-medium;
}

.theme-dark .post-content table tr {
    border-bottom: 2px solid #444;
}

.post-content table tr td,
.post-content table tr th {
    @apply p-2 py-3 text-left;
}

.post-content blockquote {
    @apply p-3 border-l-4 border-primary;
}

.post-content iframe {
    max-width: 100%;
}

.input.focused {
    @apply px-4;
}

.theme-dark .input.focused {
    background: theme("themes.dark.medium");
}

.theme-dark .blog-item .focused {
    background: theme("themes.dark.medium");
}

.spin {
    animation: spin 1s infinite linear;
}

#testimonies h4 {
    font-family: "Poiret One", cursive;
    /* font-family: "Shadows Into Light Two", cursive; */
}

.testimony-dot {
    color: #8e24aa;
    display: flex;
    justify-content: center;
}

.continue-reading {
    float: right;
    padding: 1rem;
    background-color: #673ab7;
    color: white;
}

.continue-text {
    display: flex;
    align-items: center;
}

#mission-quote {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.mission-border {
    border: 5px solid #8e24aa;
    padding: 1rem 3rem;
}

.mission-border h2 {
    padding: 1rem;
}

.author-block {
    display: flex;
    align-items: center;
    padding: 0.75rem 0.25rem 0 0.25rem;
}

#author-block-name {
    padding-left: 0.5rem;
    color: #8e24aa;
}

.author-block > .image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px dotted #8e24aa;
}

.author-block > img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.tags-wrapper {
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

.tag {
    margin: 0 2px;
    padding: 4px 10px;
    color: #fff;
    /* background: #8e24aa; */
    background: #6888df;
    font-size: 80%;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.blog-meta-text {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-style: italic;
    color: #6888df;
}

.about-image {
    border: 4px solid #8e24aa;
    max-height: 600px;
    float: left;
    margin-right: 1.5rem;
}

.pretty-quote {
    color: #f55555;
    font-size: 1.5rem !important;
    padding: 1.75rem 3rem;
    font-family: "Poiret One", cursive;
    border-left: 4px solid #f55555;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 640px) {
    html {
        font-size: 15px;
    }
}
